*{
  padding :0;
  margin:0;
  box-sizing:border-box;
}


.content{
  height: 100vh;
  background-image: linear-gradient(to right, #b1f3fd, #5fdcef , #055a67);

  
}

.navbar{
  background-color: rgba(166, 221, 214, 0.75) !important;
}

.register-page{
  background-color: rgb(123, 170, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.btn-primary {
  background-color:#ffbf00 ;
  border: #ffbf00
;
 
}



.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
  

}

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
 
}

.active-icon {
  color: #fff268;
}
.inactive-icon {
  color: rgb(255, 226, 3)
}
.filter-tab .ant-select-selector {
  width: 150px !important;
}

@media screen and (max-width: 600px) {
  .content{
    background-color: linear-gradient(to right, #b1f3fd, #5fdcef , #055a67);
  }
  .filters{
    > h6 {
      text-align: center;
      padding-top: 10rem;
      padding-left: 0rem;
    }
  }
  .switch-icons{
    
    border-radius: 2px;
    padding: 8px 0px;
    margin: 10px;
  }
  .ant-table{
    overflow-y: scroll;
   
  }
  .ant-select{
    >h6{
      margin: 6px;
    }
  }

  

}