.navbar {
    background-color:rgb(23,162,184) !important;
  }
  .navbar .navbar-brand {
    color:rgb(255, 191, 0)!important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar h6 {
    margin-top: 0px;
    margin-right: 20px;
  }

 