.login-page {
    height: 100vh !important;
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(to right,#68e0f2,#001b52  );
  }
  .login-page h1 {
    font-weight: bold;
    
    color: #122043;
  }
  .login-page h5{
    color: #122043;
  }
  .login-form {
    background-color: #a1a9ff;
    margin-left: -15px;
    padding: 30px;
  }
  
  .login-form h1 {
    text-align: center;
    font-weight: bold;
    margin: 30px;
    color: #122043;
  }
  
  .login-form .ant-form-item-label label {
    color: #000000 !important;
  }
  .login-form button {
    background-color: #344265;
    color: white;
    outline: none;
  }
  .login-form button:hover {
    background-color: #001b52;
    color: white;
  }
  .login-form a {
    color: #344265 !important;
  }
  
  .login-form a:hover {
    color: black !important;
  }
  
  @media screen and (max-width: 600px){
    .login-form {
      background-color: #a1a9ff;
      margin-left: 12px;
      padding: 30px;
      width: 93.5%;
  }
  .login-page h1 {
    font-weight: 800px;
    color: #122043;
      text-align: center;
  }
  .login-page h5{
    color: #122043;
    text-align: center;
  }

  }